<p>Add Orders</p>

<form>
  <mat-form-field class="field-app">
    <mat-label>Cod Product</mat-label>
    <mat-select name="codProduct" [(ngModel)]="codProduct">
        <mat-option></mat-option>
        <ng-container *ngFor="let data of dataProducts">
            <mat-option  [value]="data.codProduct">{{data.codProduct}}{{data.product}}</mat-option>
        </ng-container>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field appearance="standard">
    <mat-label>Search/Create</mat-label>
    <input matInput name="idClient" placeholder="idClient"
     [(ngModel)]="idClient" #input minlength="7" maxlength="20"
     style="text-transform:lowercase;" value=""  onkeyup="javascript:this.value=this.value.toUpperCase();"
     id="vl2">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Name Client</mat-label>
    <input matInput name="nameClient" placeholder="nameClient"
     [(ngModel)]="nameClient" #input minlength="10" maxlength="50"
     style="text-transform:unset;" value=""  onkeyup="javascript:this.value=this.value.toUpperCase();"
     id="vl2">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Tel Client</mat-label>
    <input matInput name="telClient" placeholder="telClient"
     [(ngModel)]="telClient" #input minlength="7" maxlength="15"
     style="text-transform:unset;" value=""  onkeyup="javascript:this.value=this.value.toUpperCase();"
     id="vl2">
  </mat-form-field>


  <mat-form-field appearance="standard">
    <mat-label>Amount Product</mat-label>
    <input matInput name="amountProduct" placeholder="amountProduct"
     [(ngModel)]="amountProduct" #input minlength="4" maxlength="6"
     style="text-transform:unset;" value=""  onkeyup="javascript:this.value=this.value.toUpperCase();"
     id="vl2">
  </mat-form-field>
  <br />
  <div class="demo-button-container">
    <button mat-raised-button (click)="onClickSubmit(idClient)" class="demo-button">
      Search
    </button>
    <button mat-raised-button (click)="onClickPost(codProduct)"class="demo-button">
      Add
    </button>
  </div>
  <br />
  <form>
    <mat-form-field appearance="standard">
      <mat-label>Cod Order</mat-label>
      <input matInput name="codOrder" placeholder="Delete codOrder"
       [(ngModel)]="codOrder" #input minlength="20" maxlength="20"
       style="text-transform:unset;" value=""  onkeyup="javascript:this.value=this.value.toUpperCase();"
       id="vl2">
    </mat-form-field>
    <br />
  </form>

  <div class="demo-button-container">
    <button mat-raised-button (click)="onClickDelete(codOrder)" class="demo-button">
      Delete
    </button>
  </div>
  <br />
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idOrder">
      <th mat-header-cell *matHeaderCellDef> Id Order</th>
      <td mat-cell *matCellDef="let row"> {{row.idOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="codOrder">
      <th mat-header-cell *matHeaderCellDef> Cod Order</th>
      <td mat-cell *matCellDef="let row"> {{row.codOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="idClient">
      <th mat-header-cell *matHeaderCellDef> Id Client</th>
      <td mat-cell *matCellDef="let row"> {{row.idClient}} </td>
    </ng-container>

    <ng-container matColumnDef="nameClient">
      <th mat-header-cell *matHeaderCellDef> Name Client</th>
      <td mat-cell *matCellDef="let row"> {{row.nameClient}} </td>
    </ng-container>

    <ng-container matColumnDef="telClient">
      <th mat-header-cell *matHeaderCellDef> Tel Client</th>
      <td mat-cell *matCellDef="let row"> {{row.telClient}} </td>
    </ng-container>

    <ng-container matColumnDef="amountProduct">
      <th mat-header-cell *matHeaderCellDef> Amount Product</th>
      <td mat-cell *matCellDef="let row"> {{row.amountProduct}} </td>
    </ng-container>

    <ng-container matColumnDef="amountOrder">
      <th mat-header-cell *matHeaderCellDef> Total Order</th>
      <td mat-cell *matCellDef="let row"> {{row.amountOrder}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Deleted or not exist
        {{input.value}}"</td>
    </tr>
  </table>
</div>
<br>
<mat-label>TOTAL AMOUNT PRICE :</mat-label>
<mat-label>{{injectTotalprice | currency }}</mat-label>
