
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{this.poster}}>
  <mat-card-content>
    <p>
      Desde hace 24 años replanteamos la experiencia de nuestros clientes y la gestión del entorno tecnológico, con un único propósito: conectar personas y organizaciones de forma única para ser el mejor socio y alcanzar mejores resultados.
    </p>
  </mat-card-content>
</mat-card>
